<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>


<script>

var socket = null;

$(function() {

$(".room").submit(function(e) {
socket = io.connect("http://52.31.77.24:1346", {query:"username="+$("#room").val()});

socket.on('gameReady', function() {
  socket.emit('ready');
})

socket.on('gameStarted', function() {
  $(".hit").show();
  $(".ability").show();
})

socket.on('gotHit', function(data) {
$('.history').append('<p style="color:red">GOT HIT! word: ' + data.word + ' - dmg: ' + data.dmg + '</p>');
});

socket.on('usedAbility', function(data) {
$('.history').append('<p style="color:red">GOT ABILITY! ability: ' + data.ability + '</p>');
});

e.preventDefault();

$(".room").remove();
$("#play").show();
});

$("#play").click(function(e) {
  socket.emit('play');
  $("#play").hide();
})


$(".hit").submit(function(e) {
e.preventDefault();
socket.emit("hit", {word: $("#text").val(), dmg: $("#dmg").val() });
$('.history').append('<p style="color:blue">SENT HIT! word: ' + $("#text").val() + ' - dmg: ' + $("#dmg").val() + '</p>');
});

$(".ability").submit(function(e) {
e.preventDefault();
socket.emit("useAbility", {ability: $("#ability").val()});
$('.history').append('<p style="color:blue">SENT ABILITY! ability: ' + $("#ability").val() + '</p>');
});

});

</script>


<form class="room">
<input type="text" id="room" placeholder="username">
<button id="join">JOIN</button>
</form>

<button id="play" name="button" style="display:none;">PLAY</button>

<form style="display: none" class="hit">
<input type="text" id="text" placeholder="wordd">
<input type="number" min="1" value="1" id="dmg" placeholder="dmg">
<button id="hit">HIT</button>
</form>

<form style="display: none" class="ability">
<input type="number" id="ability" placeholder="ability">
<button id="ability">USE ABILITY</button>
</form>

<div class="history"></div>
